.skills1{
    padding-left: 30px;
    padding-top: 20px;
   font-size: 20px;
   padding-right: 30px;
   background-color: #161513;
   color: aliceblue;
   height: 750px;
   margin-bottom: 200px;
   
  
}
.skills2{
    /* border: 2px solid red; */
    width: 90%;
    height: 280px;
   margin-top: 30px;
 padding: 30px;
   display: flex;
 justify-content: space-around;
  
}
.skills3{
   padding-top: 30px;
    padding-left:70px;
    /* border: 2px solid red; */
    display: flex;
 
   
}
.front1{
   box-shadow: 0 0 10px orangered;
    width: 600px;
    height: 250px;
   
}
.front1 h1{
    text-align: center;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text; /* Standard property */
}
.front1  h3{
    font-size: 30px;
    text-align: center;
    padding: 15px;
}
.front1 h3 span{
    padding: 30px;
}
.back1{
   box-shadow: 0 0 10px orangered;
    width: 600px;
    height: 250px;
  
}
.back1 h3{
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.back1 h1{
    text-align: center;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text; /* Standard property */ 
}
.database1{
  box-shadow: 0 0 10px orangered;
    width: 580px;
    height: 200px;
  
   
}
.database1 h1{
    text-align: center;  
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text; /* Standard property */
}
.database1 h3{
    font-size: 30px;
    text-align: center;
    padding: 50px;
}
.front1:hover {
    box-shadow: 0 0 20px #FF4500; /* Change shadow on hover */
    transform: scale(1.10); /* Slightly scale up on hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition */
}
.back1:hover {
    box-shadow: 0 0 20px #FF4500; /* Change shadow on hover */
    transform: scale(1.10); /* Slightly scale up on hover */
    transition: box-shadow 0.6s ease, transform 0.3s ease; /* Smooth transition */
}
.database1:hover  {
    box-shadow: 0 0 20px #FF4500; /* Change shadow on hover */
    transform: scale(1.10); /* Slightly scale up on hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition */
}
.database2{
    box-shadow: 0 0 10px orangered;
    width: 580px;
    height: 200px;
    margin-left: 60px;
   
}
.database2 h1{
    text-align: center;  
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text; /* Standard property */
}
.database2 h3 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
.database2:hover  {
    box-shadow: 0 0 20px #FF4500; /* Change shadow on hover */
    transform: scale(1.10); /* Slightly scale up on hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition */
}


